body {
    font-family: EB Garamond;
    background: #1d9dc6;
}

.calc {
    margin: 100px auto;
    text-align: center;
    background: #156a8d;
    max-width: 450px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
}

/* Number */

.number {
    display: flex;
    gap: 10px;
    margin: auto;
}

.number__input,
.number__input::placeholder {
    font-family: EB Garamond;
    color: #12192d;
    font-size: large;
    text-align: center;
    padding: 7px;
}

.number__input {
    background: #20dad8;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.number__input:focus {
    border: 2px solid #12192d;
    outline: none;
}

/* Action */

.action {
    display: flex;
    margin: auto;
    gap: 30px;
}

.action__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1d9dc6;
    color: white;
    font-size: larger;
    text-align: center;
    border: none;
    cursor: pointer;
}

.action__button:hover {
    background: #20dad8;
    color: #1d9dc6;
}

.action__button:active {
    background: #20dad8;
    color: #1d9dc6;
}

/* Result */

.result {
    margin: auto;
}

.result__number {
    text-align: center;
    background: whitesmoke;
    color: #12192d;
    min-width: 200px;
    height: 20px;
    border: 4px solid #1d9dc6;
    border-radius: 30px;
    padding: 10px;
    font-size: large;
}

/* Clear */

.clear__button {
    background: #123b58;
    color: #20dad8;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: EB Garamond;
    font-size: medium;
}

.clear__button:hover,
.clear__button:active {
    color: #123b58;
    background: #20dad8;
}